[submodule "eth-bridge/contracts/lib/forge-std"]
	path = eth-bridge/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eth-bridge/contracts/lib/openzeppelin-contracts-upgradeable"]
	path = eth-bridge/contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "eth-bridge/contracts/lib/openzeppelin-contracts"]
	path = eth-bridge/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "scripts/fork-test/liberland-fork-substrate"]
	path = scripts/fork-test/liberland-fork-substrate
	url = git@github.com:liberland/liberland-fork-substrate.git
