name: Run tests

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - develop
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: "-C debug-assertions=y"
      RUST_BACKTRACE: 1
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential git clang curl libssl-dev llvm libudev-dev make protobuf-compiler pkg-config git-restore-mtime

      - name: Install Rust toolchain
        run: |
          rustup set profile minimal
          rustup update --no-self-update 1.78.0
          rustup component add --toolchain 1.78.0 rustfmt rust-src
          rustup target add wasm32-unknown-unknown
          rustup default 1.78.0

      - name: Checkout
        uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: "true"
        
      - name: Run cargo test suite
        run: cargo test -j2 --features runtime-benchmarks